<div class="w-full mt-4 max-h-screen max-sm:w-1/2 sm:w-1/2 md:w-full">
  <div class="w-full">
    <div class="mb-4">
      <label for="filterOption" class="block text-sm font-medium text-gray-700">Filtrar </label>
      <select 
  (change)="filterByColor($event)" 
  id="filterOption" 
  class="mt-1 block w-full p-2 cursor-pointer bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500"
>
  <option value="all">Mostrar todos</option>
  <option value="t">Transferencias</option>
  <option value="ta">Transferencias autorizadas</option>
  <option value="tc">Transferencias canceladas</option>
  <option value="tp">Transferencias pendientes</option>

  <option value="b">Bajas</option>
  <option value="bc">Bajas canceladas</option>
  <option value="ba">Bajas autorizadas</option>
  <option value="bt">Bajas pendientes</option>


</select>

    </div>
  <p-table
  #dt
  styleClass="mt-2"
  [loading]="loading"
  [value]="korima"
  [tableStyle]="{ 'min-width': '50rem', 'overflow': 'auto' }"
  [paginator]="true"
  [rows]="5"
  [globalFilterFields]="['Etiqueta','Descripcion','Marca','NoSerie','Estatus','NombreDepartamento']"
  currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
  [rowsPerPageOptions]="[5, 10, 25, 50]"
  editMode="row"
  [showCurrentPageReport]="true"
  [scrollable]="true"
>
  <ng-template pTemplate="header">
    <tr class="bg-gray-200">
      <th *ngFor="let header of headers"
          class="px-5 py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
        {{ header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" class="shadow-md" let-guards let-i="rowIndex">
    <tr [ngClass]="{'bg-red-100':guards.archivist ==0 ,'bg-green-100':guards.archivist ==1}">
      <td *ngIf="addRow()" class="px-5 py-5 text-sm" >{{ guards.Nombres + ' ' + guards.ApellidoPaterno  + ' ' + guards.ApellidoMaterno}}</td>
      <td *ngIf="guards.picture; else noImage">
        <img
          (mouseenter)="zoomIn(guards.NumeroEconomicoKorima, guards.picture)"
          (mouseleave)="zoomOut(guards.NumeroEconomicoKorima, guards.picture)"
          [src]="guards.picture"
          alt="Preview"
          class="w-14 h-14 object-cover cursor-pointer"
        />
      </td>
      <ng-template #noImage>
        <td class="text-gray-500">No se ha asignado imagen</td>
      </ng-template>
      <!-- Similar para la imagen de etiqueta -->
      <td *ngIf="guards.tag_picture; else noTagImage">
        <img
          (mouseenter)="zoomIn(guards.NumeroEconomicoKorima, guards.tag_picture)"
          (mouseleave)="zoomOut(guards.NumeroEconomicoKorima, guards.tag_picture)"
          [src]="guards.tag_picture"
          alt="Preview"
          class="w-14 h-14 object-cover cursor-pointer"
        />
      </td>
      <ng-template #noTagImage>
        <td class="text-gray-500">No se ha asignado imagen</td>
      </ng-template>

      <td class="px-5 py-5 text-sm">{{ guards.Etiqueta }}</td>
      <td class="px-5 py-5 text-sm">{{ guards.Descripcion }}</td>
      <td class="px-5 py-5 text-sm">{{ guards.Marca }}</td>
      <td class="px-5 py-5 text-sm">{{ guards.NoSerie }}</td>
      <td class="px-5 py-5 text-sm">{{ guards.Estatus }}</td>
      <td class="px-5 py-5 text-sm">{{ guards.NombreDepartamento }}</td>
      <td class="px-5 py-5 text-sm">{{ guards.FechaAlta }}</td>
      <td class="px-5 py-5 text-sm">
        {{ guards.observation ? (guards.observation === 'undefined' ? '' : guards.observation) : '' }}
      </td>
      <td class="px-5 py-5 text-sm">
        {{ guards.motive_down ? (guards.motive_down === 'undefined' ? '' : guards.motive_down) : '' }}
      </td>
      <td class="px-5 py-5 text-sm">
        {{ guards.motivetransfer ? (guards.motivetransfer === 'undefined' ? '' : guards.motivetransfer) : '' }}
      </td>
          <td class="px-5 py-5 text-sm">
        {{ guards.motivearchivist ? (guards.motivearchivist === 'undefined' ? '' : guards.motivearchivist) : '' }}
      </td>
      <td *ngIf="!addRow()" class="px-5 py-5 text-sm">
        {{ getDaysDifference(guards.updated_at) }} días
      </td>
      
      <td  class="px-5 py-5 text-sm">
        <button
        *ngIf="!addRow()"
        class="bg-blue-300 hover:bg-blue-400 text-gray-800 font-bold py-2 px-4 rounded-full shadow-md transition duration-300"
          (click)="Print(guards)"
        >
          <i class="fas fa-print"></i>
        </button>
    
        <div class="flex flex-row gap-1">
          <button
        *ngIf="addRow() "        class="bg-green-300 hover:bg-green-400 text-gray-800 font-bold py-2 px-4 rounded-full shadow-md transition duration-300"
        (click)="authorize(guards,1)"
    >
        <i class="fas fa-check"></i>
    </button>
    <button
        *ngIf="!addRow() && guards.archivist ==null "        class="bg-green-300 hover:bg-green-400 text-gray-800 font-bold py-2 px-4 rounded-full shadow-md transition duration-300"
        (click)="authorize(guards,1)"
    >
        <i class="fas fa-check"></i>
    </button>
    <button
    *ngIf="!addRow() && guards.archivist ==null"        class="bg-red-300 hover:bg-red-400 text-gray-800 font-bold py-2 px-4 rounded-full shadow-md transition duration-300"
    (click)="authorize(guards,0)"
>
<i class="fas fa-times"></i>
</button>
    <!-- <button
    *ngIf="addRow() && guards.trauser_id"
    class="bg-green-300 hover:bg-green-400 text-gray-800 font-bold py-2 px-4 rounded-full shadow-md transition duration-300"
    (click)="authorize(guards,1)"
>
    <i class="fa fa-sync-alt"></i>
</button> -->
    <button
    *ngIf="addRow()"
    class="bg-red-300 hover:bg-red-400 text-gray-800 font-bold py-2 px-4 rounded-full shadow-md transition duration-300"
    (click)="authorize(guards,0)"
>
    <i class="fas fa-trash"></i>
</button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>


  <!-- <p-table
  #dt
  styleClass="mt-2"
  [loading]="loading"
  [value]="korima" [tableStyle]="{ 'min-width': '50rem' }"
  [paginator]="true"
  [loading]="loading"
  [tableStyle]="{ 'min-width': '50rem','overflow-auto':true}"
  scrollDirection="both"
  [rows]="5"
  [globalFilterFields]="['Etiqueta','Descripcion','Marca','NoSerie','Estatus','NombreDepartamento']"
  currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
  [rowsPerPageOptions]="[5,10, 25, 50]"
  editMode="row"
  [paginator]="true"
  [rows]="5"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[5, 10, 25, 50]"
  [scrollable]="true"
  currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
  >
 
  <ng-template pTemplate="header">
    <tr>
     <th
     class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
         Imagen resguardo</th>
         <th
         class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
             Imagen con etiqueta</th>
      <th
      class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
          Numero de etiqueta</th>
        <th
        class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            Nombre o descripción</th>
            <th
            class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                marca y modelo</th>
           
                <th
                class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                    Numero serial</th>
                  
         
                <th
                class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                Estatus</th>
              
                     <th
                class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                    ubicación</th>
  
                        <th
                        class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            fecha de asignación del resguardo</th>
                            <th
                        class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                           Observaciones</th>
                        
  
                                <th
                                class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
 
    </tr>
  </ng-template>
  <ng-template pTemplate="body" class="shadow-md" let-guards let-i="rowIndex">
    <tr [ngClass]="{'':!guards.motive_down,
   '': guards.motive_down
   }" >
     <ng-container *ngIf="!guards.picture">
       <td> no se a asignado imagen</td>
     </ng-container>
  <ng-container *ngIf="guards.picture">
   
   <td class="cursor-pointer  ">
     <img
     (mouseenter)="zoomIn(guards.NumeroEconomicoKorima, guards.picture)"
     (mouseleave)="zoomOut(guards.NumeroEconomicoKorima, guards.picture)"
     [src]="guards.picture"
     alt="Preview"
     class="w-14 h-14 object-cover"
   />
   
 
             <img
             [name]="'zoom' + guards.NumeroEconomicoKorima"
             *ngIf="guards.picture == expandImage"
             [src]="guards.picture"
             alt="Preview"
             class=" border-2 border-black object-cover fixed z-50 top-2 right-12 w-[800px] h-[500px]"
             />
   </td>
   
   
  </ng-container>
  <ng-container *ngIf="!guards.tag_picture">
   <td> no se a asignado imagen</td>
 </ng-container>
 <ng-container *ngIf="guards.tag_picture">
   <td class="cursor-pointer  ">
     <img
     (mouseenter)="zoomIn(guards.NumeroEconomicoKorima, guards.tag_picture)"
     (mouseleave)="zoomOut(guards.NumeroEconomicoKorima, guards.tag_picture)"
     [src]="guards.tag_picture"
     alt="Preview"
     class="w-14 h-14 object-cover"
   />
   
 
             <img
             [name]="'zoom' + guards.NumeroEconomicoKorima"
             *ngIf="guards.tag_picture == expandImage"
             [src]="guards.tag_picture"
             alt="Preview"
             class=" border-2 border-black object-cover fixed z-50 top-2 right-12 w-[800px] h-[500px]"
             />
   </td>
   
 
 </ng-container>
        <td  class="px-5 py-5 border-b border-gray-200  text-sm">{{ guards.Etiqueta }}</td>
        <td  class="px-5 py-5 border-b border-gray-200  text-sm">{{ guards.Descripcion }}</td>
        <td  class="px-5 py-5 border-b border-gray-200  text-sm">{{ guards.Marca  }}</td>
        <td  class="px-5 py-5 border-b border-gray-200  text-sm">{{ guards.NoSerie }}</td>
 
        <td  class="px-5 py-5 border-b border-gray-200  text-sm">{{ guards.Estatus }}</td>
        <td  class="px-5 py-5 border-b border-gray-200  text-sm">{{ guards.NombreDepartamento }}</td>
        <td  class="px-5 py-5 border-b border-gray-200  text-sm">{{ guards.FechaAlta }}</td>
        <td class="px-5 py-5 border-b border-gray-200 text-sm">
         {{ guards.observation ? guards.observation=='undefined'? '': guards.observation: '' }}
       </td>
       
        <td 
        class="px-5 py-5 border-b border-gray-200 text-sm">
       <button   class="w-14 h-14  mt-2 rounded-full bg-blue-300 hover:bg-blue-500" (click)="Print(guards)">
          <i class="fas fa-print"></i>
        </button></td>

    </tr>
  </ng-template>
  </p-table> -->
  </div>