<div *ngIf="!empleado" class="bg-slate-700 absolute inset-0 flex items-center justify-center z-50 bg-opacity-60 backdrop-blur-sm transition-opacity duration-300 ease-out">
  <div class="relative w-11/12 sm:w-5/6 lg:w-1/2 max-w-4xl mx-auto rounded-xl shadow-2xl bg-white transform transition-transform duration-300 ease-out scale-100">
    <div class="flex justify-between items-center p-6 bg-white border-b border-gray-100 rounded-t-xl">
      <p class="text-lg font-semibold text-gray-800">
        Buscar por numero de nomina
      </p>
      <svg
        (click)="(empleado = 1)"
        class="w-6 h-6 cursor-pointer text-gray-500 hover:text-gray-800 transition duration-200"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        ></path>
      </svg>
    </div>

    <div class="px-6 py-2 bg-white">
      <div class="relative z-0 mb-6 w-full group">
        <input
        (input)="onInputChange($event)" 
        type="number"
          name="floating_email"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none    focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          required
        />
        <label
          for="floating_email"
          class="absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Numero de nomina</label
        >
      </div>
    </div>
     
  </div>
</div>

<div  [@repeatfadeInOutAnimation]="animationState" class="container px-4 mx-auto mt-10 pt-10 flex flex-col p-4 items-center justify-center w-full rounded-xl group sm:flex space-x-6 bg-opacity-50  hover:rounded-2xl ">
  <!-- Component -->
 <div class="mx-auto mt-10 w-full bg-white rounded-lg shadow-md">
   <div class="flex items-center p-6">
     <div class="relative flex items-center justify-center w-20 h-20 rounded-full bg-gray-200">
       <i class="fas fa-user text-4xl text-gray-500"></i>
     </div>
 
     <div class="ml-8 flex-grow">
       <h2 class="text-xl font-semibold">{{ name }}</h2>
       <div class="flex flex-col mt-2 text-sm text-gray-500">
         <div class="flex items-center mb-1">
           <i class="fas fa-building mr-2"></i>
           <span>{{ group }}</span>
         </div>
         <div class="flex items-center">
           <i class="fas fa-id-card mr-2"></i>
           <span>{{ payroll }}</span>
         </div>
       </div>
       <div class="flex mt-4 space-x-4">
 
 
 
       </div>
     </div>
   </div>

  </div>
 

   <div class="flex mt-6 flex-row ">

     <ng-container *ngIf="roleTypeUser<3" >
      <button
      (click)="resetForm()"
      pTooltip="Resetear"
      class="shadow-md cursor-pointer hover:bg-red-400 h-14 rounded-full mr-2 w-14 pt-2 bg-red-200 max-lg:hidden max-lg:w-0 max-lg:h-0"
    >
      <li class="fa fa-undo"></li>
    </button>
    </ng-container>
     <button
     (click)="exportExcel()"
     pTooltip="Excel"
     class=" shadow-md cursor-pointer hover:bg-green-400 h-14 rounded-full  mr-2 w-14 pt-2 bg-green-200 max-lg:hidden max-lg:w-0 max-lg:h-0"><li class="fa fa-file-excel"></li></button>

     <!-- <button
     (click)="userprintresguardsactive()"
     pTooltip="Imprimir resguardos"
     class=" shadow-md cursor-pointer  hover:bg-blue-400 h-14 rounded-full mr-2  w-14 pt-2 bg-blue-200 max-lg:hidden max-lg:w-0 max-lg:h-0"><li class="fa fa-print  "></li></button> -->
     <ng-container *ngIf="buttonReport.length>0" >
     <button
     (click)="UnsuscribeGuards()"
     pTooltip="Oficio de baja patrimonio"
     class=" shadow-md cursor-pointer  hover:bg-yellow-400 h-14 rounded-full mr-2  w-14 pt-2 bg-yellow-200 max-lg:mb-2"><li class="fa fa-file-signature"></li></button>
    </ng-container>
    <ng-container *ngIf="buttonInformatica.length>0" >
    <button

    (click)="ReportInformatica()"
    pTooltip="Oficio informatica"
    class=" shadow-md cursor-pointer  hover:bg-zinc-400 h-14 rounded-full mr-2  w-14 pt-2 bg-zinc-200 max-lg:mb-2"><li class="fa fa-headset"></li></button>
  </ng-container>

  <!-- </ng-container> -->

  
   <input pInputText
   type="text"
   class=" shadow-md mr-2 ml-6 pl-4 mt-2 justify-end items-end right-0 appearance-none rounded-full h-10  w-60 bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600"
   (input)="onInputChangeReports($event)"
 
   placeholder="buscador" />
   </div>
 
     <div class="w-full max-h-screen max-sm:w-1/2 sm:w-1/2 md:w-full">
 
 <p-table
 #dt
 styleClass="mt-2"
 [loading]="loading"
 [value]="korima" [tableStyle]="{ 'min-width': '50rem' }"
 [paginator]="true"
 [loading]="loading"
 [tableStyle]="{ 'min-width': '50rem','overflow-auto':true}"
 scrollDirection="both"
 [rows]="5"
 [globalFilterFields]="['NumeroEconomicoKorima','Descripcion','Marca','NoSerie','Estatus','NombreDepartamento']"
 currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
 [rowsPerPageOptions]="[5,10, 25, 50]"
 editMode="row"
 [paginator]="true"
 [rows]="5"
 [showCurrentPageReport]="true"
 [rowsPerPageOptions]="[5, 10, 25, 50]"
 [scrollable]="true"
 currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
 >
 
 <ng-template pTemplate="header">
   <tr>
    <th
    class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
        Imagen</th>
     <th
     class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
         Numero de inventario</th>
       <th
       class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
           Nombre o descripción</th>
           <th
           class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
               marca y modelo</th>
           <!-- <th
           class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
               tipo</th> -->
               <th
               class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                   Numero serial</th>
                   <!-- <th
                   class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                   N° DE REFERENCIA KORIMA</th> -->
        
               <th
               class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
               Estatus</th>
             
                    <th
               class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                   ubicación</th>
 
                       <th
                       class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                           fecha de asignación del resguardo</th>
                           <th
                       class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                          Observaciones</th>
                           <!-- <th
                           class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                               fecha de baja del resguardo</th> -->
 
                               <th
                               class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                   </th>
       <!-- <th
       class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
           Rol</th>
       <th
       class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
           Quantity</th> -->
   </tr>
 </ng-template>
 <ng-template pTemplate="body" class="shadow-md" let-guards let-i="rowIndex">
   <tr [ngClass]="{'bg-gray-50 text-gray-400':guards.used == 0 && guards.expecting == 0,
  'bg-orange-200 text-gray-700': guards.expecting == 1
  }" >
    <ng-container *ngIf="!guards.picture">
      <td> no se a asignado imagen</td>
    </ng-container>
 <ng-container *ngIf="guards.picture">
  <td>
    <div class="w-full flex justify-center align-center">
      <div class="">
        <div
          class="bg-white rounded-md shadow-md w-14 h-14 flex items-center justify-center overflow-hidden"
        >
          <img
            *ngIf="guards.picture"
            [src]="guards.picture"
            alt="Preview"
            class="w-full h-full object-cover"
          />
         
        </div>
      </div>
    </div>
  </td>
 </ng-container>
    
       <td  class="px-5 py-5 border-b border-gray-200  text-sm">{{ guards.NumeroEconomicoKorima }}</td>
       <td  class="px-5 py-5 border-b border-gray-200  text-sm">{{ guards.Descripcion }}</td>
       <td  class="px-5 py-5 border-b border-gray-200  text-sm">{{ guards.Marca  }}</td>
       <!-- <td  class="px-5 py-5 border-b border-gray-200  text-sm">{{ guards.Tipo }}</td> -->
       <td  class="px-5 py-5 border-b border-gray-200  text-sm">{{ guards.NoSerie }}</td>
       <!-- <td  class="px-5 py-5 border-b border-gray-200  text-sm">{{ guards.number_korima=='null'?'':guards.number_korima }}</td> -->

       <td  class="px-5 py-5 border-b border-gray-200  text-sm">{{ guards.Estatus }}</td>
       <td  class="px-5 py-5 border-b border-gray-200  text-sm">{{ guards.NombreDepartamento }}</td>
       <td  class="px-5 py-5 border-b border-gray-200  text-sm">{{ guards.FechaAlta }}</td>
       <td class="px-5 py-5 border-b border-gray-200 text-sm">
        {{ guards.observation ? guards.observation=='undefined'? '': guards.observation: '' }}
      </td>
      
       <!-- <td  class="px-5 py-5 border-b border-gray-200  text-sm">{{ guards.datedown }}</td> -->
 
       <td  class="px-5 py-5 border-b border-gray-200  text-sm">
         <div class="flex flex-row">
 
          <button
          (click)="showDialog(guards.NumeroEconomicoKorima,guards.idResguardos)"
          class=" shadow-md cursor-pointer  hover:bg-purple-400 h-14 rounded-full mr-2  w-14 pt-2 bg-purple-200 max-lg:mb-2"><li class="fa fa-plus"></li></button>
 
       </div>
       </td>
       <!-- <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ users.category }}</td>
       <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ users.quantity }}</td> -->
   </tr>
 </ng-template>
 </p-table>
 </div>
 <!-- component -->
 
 </div>
 
 
 <p-dialog header="Agregar Resguardo" [(visible)]="visible" [position]="'right'" [style]="{ 'width': getWidthPercentage(), 'height': getHeightPercentage() }">
  <div class="w-full h-fit p-4">
    <form (ngSubmit)="onSubmit()" class="space-y-4">
      <!-- Input para subir la imagen -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Subir Imagen</label>
        <input 
          type="file" 
          (change)="onFileChange($event)" 
          accept="image/*" 
          class="hidden" 
          id="fileInput" />
        <label for="fileInput" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm bg-white text-gray-700 text-center py-2 cursor-pointer hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50">
          Elegir archivo
        </label>
        <p *ngIf="imagen" class="text-gray-600 mt-2">Archivo seleccionado: {{ imagen.name }}</p>
      </div>
      <!-- Textarea para la descripción -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Observaciones</label>
        <textarea 
          [(ngModel)]="descripcion" 
          name="descripcion" 
          rows="4" 
          class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500" 
          placeholder="Escribe la descripción aquí..."></textarea>
      </div>
      
      <!-- Botón para enviar -->
      <div class="flex justify-end">
        <button          
          type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
          Agregar Resguardo
        </button>
      </div>
    </form>
  </div>
</p-dialog>

