@media print {
    @page {
      size: landscape;
      margin: 0; /* Elimina los márgenes predeterminados en la impresión */
     
      margin-left: 1rem;
      margin-right: 1rem;
    }
    body::after {
        content: none; /* Elimina la información adicional después del contenido */
      }
      .eliminar {
        display: none; /* Ocultar elementos con la clase "eliminar" en la impresión */
      }
  }
  