<!-- <div [@fadeInOutAnimation] class="   container px-4 mx-auto mt-10 pt-10 flex flex-col p-4 items-center justify-center w-full max-xl:w-screen  h-fit rounded-xl group sm:flex space-x-6 overflow-hidden  hover:rounded-2xl ">
    <div class="flex max-sm:flex-col max-xl:flex-row w-full max-h-full max-w-full max-xl:w-screen overflow-hidden">
      <div class="shadow-xl border">

          <div id="chart1"></div>
      </div>  
      <div class="shadow-xl border">

        <div id="chart2"></div>
    </div>  
    
    
  </div>
  <br>
  <div class="shadow-xl border max-sm:w-full max-xl:w-screen">

    <div id="chart3"></div>
</div>  
</div> -->

<div class="flex justify-center items-center h-full w-full  mx-auto ">
  <div class="flex flex-col items-center">
    <div class="flex max-sm:flex-col max-xl:flex-row w-full max-h-full max-w-full max-xl:w-screen  overflow-hidden">

    <div class="shadow-xl border mr-4 mb-2 ">

      <div id="chart1"></div>
  </div>  
  <div class="shadow-xl border mb-2">

    <div id="chart2"></div>
</div>  


</div>
<br>
<div class="shadow-xl border w-full">

<div id="chart3"></div>
</div>  
    
  </div>
</div>  
